@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*Banner*/
.banner {
  background-color: #80ff80;
  font-family: 'Lobster', cursive;
  height: 300px;
}
.banner  h1{
  position: relative;
  left: 25%;
  top: 30%;
  font-size: 100px;
}
.banner img{
  position: relative;
  top: 25%;
  border-radius: 5px;
  box-shadow: 5px 20px 15px -10px rgba(0,0,0,0.5);
  -webkit-animation-duration: 5s;
}
img:hover{
  box-shadow: 0px 47px 25px -20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -100px);
}
@media (max-width:780px) {
  img{
    display: none;
  }
}
/*Content*/
.content{
  background-color: #0099ff;
  height: auto;
}
/*About*/
.about {
  margin-top: 50px;
  padding-top: 50px;
  padding-left: 30px;
  background-color: #d9d9d9;
  height: ;
  font-family: 'Raleway', sans-serif;
}
.about h2 {
  font-family: 'Lobster', cursive;
}
/*Game*/
.game{
  margin-top: 75px;
  padding-top: 60px;
  padding-left: 15%;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  height: auto;
}
.game h2 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
}
#number-here{
  margin-left: 10px;
  margin-right: 10px;
  width: 25%;
}
/*Output*/
#output {
  height: auto;
}
